<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    <link
      rel="preload"
      href="{{ 'Satoshi-Regular.woff2' | asset_url }}"
      as="font"
      type="font/woff2"
      crossorigin
    >
    <link
      rel="preload"
      href="{{ 'Satoshi-Bold.woff2' | asset_url }}"
      as="font"
      type="font/woff2"
      crossorigin
    >

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'kaza-base.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
